body {
	margin-top: 1.0em;
	background-color: #dfdfdf;
	  font-family: "Helvetica,Arial,FreeSans"; 
	color: #000000;
}

#container {
	padding: 10px;
	margin: 0 auto;
	width: 700px;
	background-color: #ffffff;
	border-right: 1px solid #afafaf;
	border-bottom: 1px solid #afafaf;
	clear: both;
}

#titlebar {
	margin: 0 auto;
	width: 700px;
	padding-bottom: 5px;
}

#navigation {
	margin: 0 auto;
	width: 700px;
	padding: 0px;
}

#menu {
	margin: 0px;
	padding-left: 0px;
	width: 75px;
}

.main_content{
	float: left;
	width: 480px;
}

.sidebar {
	float: right;
	width: 190px;
	margin: 0px;
	padding-left: 10px;
	padding-bottom: 0px;
	border-bottom: 1px solid #afafaf;
	border-left: 1px solid #afafaf;
}

.sidebar h2{
	padding-top: 0px;
	margin-top: 0px;
}

.sidebar_item{
	font-size: 0.75em;
	padding-bottom: 10px;
}

h1 { 
	font-size: 2em; 
	color: #172c31; 
	padding-top: 0px;
	margin-top: 0px;
}

.description h1{
	font-style: normal;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

h1 .small { font-size: 0.4em; }
h1 a { text-decoration: none }
h2 { border-bottom: 1px solid #cfcfcf; padding-top: 10px; font-size: 1.5em; color: #172c31; }
h3 { color: #172c31; }
a { color: #0000df; }

pre { background: #000; color: #fff; padding: 15px;}
hr { border: 0; width: 80%; border-bottom: 1px solid #aaa}

.description { 
	font-size: 1em; 
	margin-bottom: 30px;
	font-style: italic;
	font-color: #7f7f7f;
}

.download { float: right; }
.footer { 
	text-align:center; 
	padding-top:30px; 
	font-style: italic; 
	clear: both;
}
