pkg
obj
bin
deploy
deploy/*
_ReSharper.*
*.csproj.user
*.resharper.user
*.resharper
*.suo
*.cache
~$*
*.tmp
*.eprj
spec/support/AssemblyInfo/AssemblyInfo.cs
spec/support/CodeCoverage/TestResult.xml
spec/support/CodeCoverage/test-coverage.xml
spec/support/CodeCoverage/html
spec/support/CodeCoverage/mspec/html
github-test.rb
Albacore-*.gem