*.swp
*~
.idea

Gemfile.lock

pkg/
obj/
bin/
build/

_ReSharper.*
*.csproj.user
*.resharper.user
*.resharper
*.suo
*.cache
~$*
*.tmp
*.eprj
*.bkp

/spec/support/Tools/NDepend-v2.12/NDependProLicense.xml
Gemfile.lock
