.DS_Store
pkg
obj
bin
deploy
deploy/*
_ReSharper.*
*.csproj.user
*.resharper.user
*.resharper
*.suo
*.cache
~$*
*.tmp
*.eprj
spec/support/AssemblyInfo/AssemblyInfo.cs
spec/support/AssemblyInfo/AssemblyInfo.*
spec/support/CodeCoverage/nunit/TestResult.xml
spec/support/CodeCoverage/nunit/test-coverage.*
spec/support/CodeCoverage/nunit/html
spec/support/CodeCoverage/mspec/html
spec/support/CodeCoverage/html
spec/support/CodeCoverage/report/output
spec/support/CodeCoverage/test-coverage.xml
spec/support/zip/*.zip
spec/support/expandtemplates/output
spec/support/expandtemplates/working
github-test.rb
Albacore-*.gem
Albacore.gemspec
albacore-*.gem
albacore.gemspec
.idea
web.config.example
albacore_example.zip
TestResult.xml
temp
unziptask
/spec/support/Tools/NDepend-v2.12/NDependProLicense.xml