language: ruby
rvm:
  - 1.8.7
  - 1.9.2
  - 1.9.3
  - jruby
script: "bundle exec rake specs:assemblyinfo specs:albacoremodel specs:attrmethods"
branches:
  only:
    - dev
#env:
notifications:
  email: false
gemfile: Gemfile
