<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Albacore: {{ page.title }}</title>
	<link href="/css/main.css" rel="stylesheet" type="text/css" />
	<link href="http://albacore.net/atom.xml" rel="alternate" title="AlbacoreBuild.Net" type="application/atom+xml" />
</head>
<body>
	<a href="http://github.com/derickbailey/Albacore"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a>

	<div id="titlebar">
    	<div class="download">
      		<a href="http://github.com/derickbailey/Albacore/zipball/master">
        		<img border="0" width="90" src="http://github.com/images/modules/download/zip.png"></a>
      		<a href="http://github.com/derickbailey/Albacore/tarball/master">
        		<img border="0" width="90" src="http://github.com/images/modules/download/tar.png"></a>
    	</div>

    	<div class="logo">
			<img border="0" src="/images/AlbacoreLogo3.png" />
    	</div>
	</div>
	
	<div id="navigation">
		<div id="menu">
			[<a href="/">Home</a>]
		</div>
	</div>
	<div id="container">

