<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="ncover.systemAssemblies" type="NCover.Framework.SystemAssemblySectionHandler, NCover.Framework"/>
    </configSections>
    <appSettings>
        <!--Set this key to 1 if you wish to opt out of our customer feedback portal-->
        <add key="customerfeedbackoptout" value="0"/>
        <!--
        Set this key to 1 to allow your token to be passed to support for debugging purposes
        Even if it is set to 1, we are only using this to help with a support case, the information is ignored for any other reason.
        -->
        <add key="customerfeedbackidentifyfordebug" value="0"/>
    </appSettings>
    <startup>
    </startup>
    <ncover.systemAssemblies>
        <assembly>msvc[mrp].*</assembly>
        <assembly>mscorcfg</assembly>
        <assembly>mscorlib</assembly>
        <assembly>sysglobl</assembly>
        <assembly>CppCodeProvider</assembly>
        <assembly>Microsoft.*</assembly>
        <assembly>PresentationBuildTasks</assembly>
        <assembly>PresentationCore</assembly>
        <assembly>PresentationFramework.*</assembly>
        <assembly>ReachFramework</assembly>
        <assembly>System</assembly>
        <assembly>System\..*</assembly>
        <assembly>VSLangProj.*</assembly>
        <assembly>VSWebSite\.Interop</assembly>
        <assembly>VSWebSite\.Interop90</assembly>
        <assembly>SMDiagnostics</assembly>
        <assembly>UIAutomationClient</assembly>
        <assembly>UIAutomationClientsideProviders</assembly>
        <assembly>UIAutomationProvider</assembly>
        <assembly>UIAutomationTypes</assembly>
        <assembly>WindowsBase</assembly>
        <assembly>WindowsFormsIntegration</assembly>
        <assembly>vstesthost</assembly>
        <assembly>ISymWrapper</assembly>
        
        <assembly>nant\..*</assembly>
        <assembly>nunit\..*</assembly>
        <assembly>nunit-.*</assembly>
        <assembly>xunit.*</assembly>
        <assembly>MbUnit.*</assembly>
        <assembly>MSTest.*</assembly>
        <assembly>log4net</assembly>
        <assembly>QuickGraph.*</assembly>
        <assembly>WiseOwl\.Obfuscation</assembly>
        <assembly>Rhino\.Mocks</assembly>
        <assembly>Gallio.*</assembly>
    </ncover.systemAssemblies>
</configuration>
