<?xml version="1.0" encoding="utf-8"?>
<!-- Example configuration file to be passed to NCover.Reporting.exe using //cr switch  -->
<!-- If not specified, CoverageExclusions, SatisfactoryThresholds, Filters, and Sorting come from the first coverage file loaded -->
<CoverageReportSetting xmlns="urn:schemas-ncover-com-ncover-v3">

    <!-- Names of the coverage files to merge/report on. Wildcards can be used. -->
    <CoverageDataPaths>
        <CoverageDataPath>*.Coverage.xml</CoverageDataPath>
    </CoverageDataPaths>

    <!-- Coverage filters to exclude specified assemblies, namespaces, classes, etc. -->
    <CoverageFilters>
        <!-- filterruledata: Required. The pattern or regular expression that matches the elements to exclude/include. -->

        <!-- 
        Valid values are: 
        Assembly
        Namespace
        Class
        Method
        Document
        -->
        <!-- filtertype: What type of element the exclusion applies to. -->
        <!--Default is Assembly-->

        <!-- rexexrule: When true, the filterruledata is interpreted as a regular expression, otherwise the 'filterruledata' 
                            is interpreted as a pattern. -->
        <!-- Default values is false -->

        <!-- include: When true the exclusion is treated as an include. i.e. elements that don't match are excluded. -->
        <!-- Default value is false -->
        <CoverageFilter filterruledata=".*Test"
                                             filtertype="Class"
                                             regexrule="true"
                                             include="true"
        />
    </CoverageFilters>

    <!-- The trend file to append trend data to. If NCover.Reporting is instructed to create
    merged coverage data, trends will be based on the merged data. This element must be
    used for trend data to appear in a generated report. -->
    <CoverageTrendPath>C:\reports\trendsforversion2.trend</CoverageTrendPath>

    <!-- Filtering to be applied to the results.
    Valid values are:
    None
    HideUnvisited
    HideFullyCovered
    HideThresholdCovered
    -->
    <!--Default is None-->
    <Hide>None</Hide>

    <!-- By default, when items fail one of the Minimum coverage thresholds, NCover.Reporting 
    will show the details of the failure on the console. MaxFailedToShow controls how many
    such failures NCover.Reporting will display on the console before simply tallying the total. -->
    <MaxFailedToShow>12</MaxFailedToShow>

    <!-- File name for the output merged coverage.xml file if any resulting from merging the inputs. -->
    <MergedCoverageDataPath>C:\MyCoverageMerged.xml</MergedCoverageDataPath>

    <!-- Fails the build when modules, namespaces, classes, documents, or the entire project (view)
    doesn't have the required coverage level by returning 3. More specific thresholds override more general ones. -->
    <MinimumCoverage>
        <!-- Thresholds identical except for the 'Percent' value are not allowed. -->
        <Threshold>
            <!-- Which coverage metric this threshold applies to. -->
            <!-- 
            Valid values are: 
            SymbolCoverage 
            BranchCoverage 
            MethodCoverage 
            LineCoverage 
            CyclomaticComplexity
            -->
            <!-- Default is SymbolCoverage -->
            <CoverageMetric>SymbolCoverage</CoverageMetric>

            <!-- If not specified, the threshold applies to every 'Type'. -->
            <!-- When specified, the threshold applies only to nodes whose fully-qualified name matches the regex pattern (case-sensitive matters)-->
            <!-- By default each threshold applies to every element of the type specified. -->
            <Pattern></Pattern>

            <!-- The type to apply the threshold to. -->
            <!-- 
            Valid values are: 
            View
            Module 
            Namespace 
            Class
            Document 
            -->
            <!-- Default is View -->
            <Type>View</Type>

            <!-- The lowest coverage percentage the 'Type' can have without failing the build. -->
            <!-- For the CyclomaticComplexity metric, this is the maximum CyclomaticComplexity allowed. -->
            <!-- Default is "95.0" -->
            <Value>95.506</Value>
        </Threshold>
    </MinimumCoverage>

    <!-- Whether to suppress virtually all console output when running. Default is false. -->
    <NoLog>true</NoLog>

    <!-- Controls the number of uncovered items reported in the "Top Uncovered" reports. -->
    <!-- Default is 10 -->
    <NumOfTopUncoveredToReport>10</NumOfTopUncoveredToReport>

    <!-- Output path for the report if wanting to generate one. -->
    <OutputPath>C:\MyCoverageReport.xml</OutputPath>

    <!-- Name attribute is title to appear on the report (equivalent to /project:xx). -->
    <!-- Default is blank -->
    <ProjectName>Example.Project</ProjectName>

    <!-- The file format of the report. Option are "Xml" or "Html". "Xml" will produce a CC.NET compatable report,-->
    <ReportFormat>Xml</ReportFormat>

    <!-- Report to be generated by running NCover.Reporting. 
    Valid values are:
    None
    FullCoverageReport
    MethodCCModuleClassCoverageTop
    MethodCCModuleClassFailedCoverageTop
    MethodModuleNamespaceClass
    MethodModuleNamespaceClassMethod
    MethodSourceCode
    MethodSourceCodeClass
    MethodSourceCodeClassMethod
    Summary
    SymbolCCModuleClassCoverageTop
    SymbolCCModuleClassFailedCoverageTop
    SymbolModule
    SymbolModuleNamespace
    SymbolModuleNamespaceClass
    SymbolModuleNamespaceClassMethod
    SymbolSourceCode
    SymbolSourceCodeClass
    SymbolSourceCodeClassMethod
    UncoveredCodeSections
    -->
    <!--Default is None-->
    <ReportType>ModuleClassSummary</ReportType>

    <!-- Use the rules specified for FailBuildThresholds for SatisfactoryThresholds as well.
    If SatisfactoryThreshold rules exist, the FailBuildThresholds will be merged with them. -->
    <SatCoverageFromMinCoverage>true</SatCoverageFromMinCoverage>

    <!-- Determines which nodes are colored 'Satisfactory', and at what percentage their coverage is 'Satisfactory'. -->
    <SatisfactoryCoverage>
        <!-- Thresholds identical except for the 'Percent' value are not allowed. -->
        <Threshold>
            <!-- Which coverage metric this threshold applies to. -->
            <!-- 
            Values are: 
            SymbolCoverage 
            BranchCoverage 
            MethodCoverage 
            LineCoverage 
            CyclomaticComplexity
            -->
            <!-- Default is SymbolCoverage -->
            <CoverageMetric>SymbolCoverage</CoverageMetric>

            <!-- If not specified, the threshold applies to every 'Type'. -->
            <!-- When specified, the threshold applies only to nodes whose fully-qualified name matches the regex pattern (case-sensitive matters)-->
            <!-- By default each threshold applies to every element of the type specified. -->
            <Pattern></Pattern>

            <!-- The level at which to apply the threshold. -->
            <!-- 
            Valid Values are:
            View 
            Module 
            Namespace 
            Class 
            Document
            -->
            <!-- Default is View -->
            <Type>View</Type>

            <!-- The lowest coverage percentage the 'Type' can have and remain satisfactory. -->
            <!-- For the CyclomaticComplexity metric, this is the maximum CyclomaticComplexity allowed. -->
            <!-- Default is "95.0" -->
            <Value>95.506</Value>
        </Threshold>
    </SatisfactoryCoverage>

    <!-- Sorting to be applied to the results.
    Valid Values are:
    Name
    ClassLine 
    CoveragePercentageAscending 
    CoveragePercentageDescending
    FunctionCoverageAscending 
    FunctionCoverageDescending 
    UnvisitedSequencePointsAscending 
    UnvisitedSequencePointsDescending 
    VisitCountAscending 
    VisitCountDescending
    -->
    <!-- Default is Name -->
    <SortBy>Name</SortBy>

    <!-- Whether to show the excluded elements in the footer of the output report if being generated. Default is false. -->
    <ShowExcludedFooter>true</ShowExcludedFooter>

    <!-- Sets the base path for the XmlReportFileName, HTMLReportFileName, MergedCoverageDataPath, the CoverageTrendPath, and the CoverageDataPaths-->
    <!-- Default is the executing directory -->
    <WorkingDirectory>C:\project\reports</WorkingDirectory>

</CoverageReportSetting>