<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Albacore: {{ page.title }}</title>
	<link href="{{ site.url }}/css/main.css" rel="stylesheet" type="text/css" />
	<link href="http://feeds.feedburner.com/AlbacoreBuild" rel="alternate" title="AlbacoreBuild.Net" type="application/atom+xml" />
</head>
<body>
	<a href="http://github.com/derickbailey/Albacore"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a>

	<div id="titlebar">
    	<div class="download">
      		<a href="http://github.com/derickbailey/Albacore/zipball/master">
        		<img border="0" width="90" src="http://github.com/images/modules/download/zip.png"></a>
      		<a href="http://github.com/derickbailey/Albacore/tarball/master">
        		<img border="0" width="90" src="http://github.com/images/modules/download/tar.png"></a>
    	</div>

    	<div class="logo">
			<img border="0" src="{{ site.url }}/images/AlbacoreLogo3.png" />
    	</div>
	</div>
	
	<div id="navigation">
		<div id="menu">
			[<a href="{{ site.url }}">Home</a>]
		</div>
	</div>
	<div id="container">
		<div class="main_content">
			{{ content }}
		</div>
		<div class="sidebar">
			<div class="sidebar_item">
				<h2>Albacore Resources</h2>
				Google Groups: <a href="http://groups.google.com/group/albacoredev">Albacore Dev</a><br/>
				<br/>
				Twitter: <a href="http://twitter.com/albacorebuild">@albacorebuild</a><br/>
				<br/>
				Github: 
				<ul>
					<li><a href="http://github.com/derickbailey/Albacore">Source Code</a><br/></li>
					<li><a href="http://wiki.github.com/derickbailey/Albacore">Wiki</a><br/></li>
					<li><a href="http://github.com/derickbailey/Albacore/issues">Issues List</a><br/></li>
				</ul>
			</div>
			<div class="sidebar_item">
				<h2>Thank You NCover</h2>
					Thanks to NCover for supporting Albacore and providing a free license, used for functional testing of Albacore's NCoverConsoleTask and NCoverReportTask tasks!<br/>
					<a href="http://ncover.com"><img src="{{ site.url }}/images/i_cover_my_code_promo_badge_white.jpg" border="0"></a>
			</div>
		</div>
		<div class="footer">
			get the source code on GitHub : <a href="http://github.com/derickbailey/Albacore">derickbailey/Albacore</a>
		</div>
	</div>
</body>
</html>