<?xml version="1.0" encoding="utf-8" ?> 
<dashboard>
	<remoteServices>
		<servers>
			<!-- Update this list to include all the servers you want to connect to. NB - each server name must be unique -->
			<server name="local" url="tcp://localhost:21234/CruiseManager.rem" />
		</servers>
	</remoteServices>
	<plugins>
		<farmPlugins>
			<farmReportFarmPlugin />
			<cctrayDownloadPlugin />
		</farmPlugins>
		<serverPlugins>
			<serverReportServerPlugin />
			<serverLogServerPlugin />
			<serverInformationServerPlugin />
		</serverPlugins>
		<projectPlugins>
			<projectReportProjectPlugin />
			<latestBuildReportProjectPlugin />
			<viewAllBuildsProjectPlugin />
			<projectStatisticsPlugin xslFileName="xsl\statistics.xsl" />
			<serverLogProjectPlugin />
			<viewConfigurationProjectPlugin />
			<modificationHistoryProjectPlugin />
		</projectPlugins>
		<buildPlugins>
			<buildReportBuildPlugin>
				<xslFileNames>
					<xslFile>xsl\header.xsl</xslFile>
					<xslFile>xsl\modifications.xsl</xslFile>
					<xslFile>xsl\compile.xsl</xslFile>
					<xslFile>xsl\unittests.xsl</xslFile>
					<xslFile>xsl\MsTestSummary.xsl</xslFile>
					<xslFile>xsl\fxcop-summary.xsl</xslFile>
					<!-- Add the following to replace the legacy NCover summary with the NCoverExplorer summary -->
					<xslFile>xsl\NCoverReporting30.xsl</xslFile>
					<xslFile>xsl\SimianSummary.xsl</xslFile>
					<xslFile>xsl\fitnesse.xsl</xslFile>
				</xslFileNames>
			</buildReportBuildPlugin>
			<buildLogBuildPlugin />
			<xslReportBuildPlugin description="NUnit Details" actionName="NUnitDetailsBuildReport" xslFileName="xsl\tests.xsl" />
			<xslReportBuildPlugin description="NUnit Timings" actionName="NUnitTimingsBuildReport" xslFileName="xsl\timing.xsl" />
			<xslReportBuildPlugin description="NAnt Output" actionName="NAntOutputBuildReport" xslFileName="xsl\Nant.xsl" />
			<xslReportBuildPlugin description="NAnt Timings" actionName="NAntTimingsBuildReport" xslFileName="xsl\NantTiming.xsl" />
			<xslReportBuildPlugin description="FxCop Report" actionName="FxCopBuildReport" xslFileName="xsl\FxCopReport.xsl" />
			<!-- Add the following to replace the legacy NCover xsl with the NCoverExplorer summary -->
			<xslReportBuildPlugin description="NCover Report" actionName="NCoverBuildReport" xslFileName="xsl\NCoverReporting30.xsl" />
			<xslReportBuildPlugin description="Simian Report" actionName="SimianBuildReport" xslFileName="xsl\SimianReport.xsl"/>
			<xslReportBuildPlugin description="Fitnesse Report" actionName="FitnesseBuildReport" xslFileName="xsl\FitnesseReport.xsl"/>
		</buildPlugins>
	</plugins>
</dashboard>